HOST=localhost
PORT=8000
RATE_LIMIT=1/second
ENVIRONMENT=development

DB_USER=postgres
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=5432
DB_NAME=datamodelchat

JWT_SECRET_KEY=myjwtsecretkey
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
